body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: lightgreen;
}

.section {
    width: 375px;
    height: 667px;
    shadow: 2px 2px 4px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.mobiel {
    max-width: 375px;
    min-height: 100%;
    margin: 0 auto;
}

.grid-container {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr); */
}

.grid-item {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 40px 0;
}

.keeper {
    display: flex;
    justify-content: center;
}

.verdediging {
    display: flex;
    justify-content: space-around;
}

.middenveld {
    display: flex;
    justify-content: space-around;
}

.aanval {
    display: flex;
    justify-content: space-around;
}

.speler {
    display: grid;
    justify-items: center;
}

p {
    margin: 8px 0px;
    color: white;
    background-color: black;
    padding: 4px;
    border-radius: 5px;
}
